

.bgrid{
    display:block;
    float:left;
}

/*
____________________________________________________________________________________________________________________________________________
|                                                                                                                                           |
|                                                               CSS NORMALIZING                                                             |
|___________________________________________________________________________________________________________________________________________|
*/
html {font-family: sans-serif; /* 1 */-ms-text-size-adjust: 100%; /* 2 */-webkit-text-size-adjust: 100%; /* 2 */}
body {margin: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; /* 1 */vertical-align: baseline; /* 2 */}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
a {background-color: transparent;}
a:active,a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
dfn {font-style: italic;}
h1 {font-size: 2em;margin: 0.67em 0;}
mark {background: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}
button,input,optgroup,select,textarea {color: inherit; /* 1 */font: inherit; /* 2 */margin: 0; /* 3 */}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], /* 1 */input[type="reset"],input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */}
button[disabled],
html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0; /* 2 */}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse; border-spacing: 0;}
td,th {padding: 0;}

a,a:focus,a:visited,a:link{color:#3e98cc; text-decoration:none;}
a:active{color:#005382; text-decoration:none;}
a:hover{color:#50aee4; text-decoration:none;}

/*
____________________________________________________________________________________________________________________________________________
|                                                                                                                                           |
|                                                               NAVIGATION                                                                  |
|___________________________________________________________________________________________________________________________________________|
*/

.blueNav{
    position:absolute;
    display:block;
    float:left;
    background:#000;
    width:100%;
    min-height:30px;
    margin-bottom:0px;
    z-index:30;
    top:0;
    left:0;
}
.blueNav .navH{
    display:block;
    float:left;
    height:100%;
    width:100%;
}
.bn-group > div{
    position: relative;
}
.bn-group > div:after{
    content: "";
    display: block;
    float: left;
    position:absolute;
    height:40px;
    width: 2px;
    top: 5px;
    left: -2px;
    background: #444;
}
.bn-group > div:nth-last-child(1):after{
    display:none;
}

.bl-ul{
    display:block;
    float:left;
    height:100%;
    line-height:100%;
    width:100%;
}
.bl-ul > li,.bl-ul > li > a{
    display:inline-block;
    float:left;
    height:100%;
    line-height:100%;
}
.bl-ul > li > a{
    width:100%;
    line-height:50px;
    color:#ccc;
}
.bl-ul > .active > a{
    background:#444;
    color:#eee;
}

/*
____________________________________________________________________________________________________________________________________________
|                                                                                                                                           |
|                                                           BLUE GRID LAYERS                                                                |
|___________________________________________________________________________________________________________________________________________|
*/
.b-p-rel{position:relative;}
.b-p-abs{position:absolute;}
.b-p-fix{position:fixed;}

.b-layer-1 {z-index: 1 }
.b-layer-2 {z-index: 2 }
.b-layer-3 {z-index: 3 }
.b-layer-4 {z-index: 4 }
.b-layer-5 {z-index: 5 }
.b-layer-6 {z-index: 6 }
.b-layer-7 {z-index: 7 }
.b-layer-8 {z-index: 8 }
.b-layer-9 {z-index: 9 }
.b-layer-10{z-index: 10}
.b-layer-11{z-index: 11}
.b-layer-12{z-index: 12}
.b-layer-13{z-index: 13}
.b-layer-14{z-index: 14}
.b-layer-15{z-index: 15}
.b-layer-16{z-index: 16}
.b-layer-17{z-index: 17}
.b-layer-18{z-index: 18}
.b-layer-19{z-index: 19}
.b-layer-20{z-index: 20}

/*
____________________________________________________________________________________________________________________________________________
|                                                                                                                                           |
|                                                               BOXES                                                                       |
|___________________________________________________________________________________________________________________________________________|
*/

/*Boxes*/

.boxx {
    content: " ";
    display: table;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    min-width: 180px;
}

@media (min-width: 241px) {
    .boxx { width: 220px; }
}

@media (min-width: 321px) {
    .boxx { width: 300px; }
}
@media (min-width: 481px) {
    .boxx { width: 460px; }
}
@media (min-width: 769px) {
    .boxx { width: 740px; }
}
@media (min-width: 1061px) {
    .boxx { width: 1000px; }
}

@media (min-width: 1280px) {
    .boxx { width: 1200px; }
}
@media (min-width: 1370px) { // [ Extra high resolution ]
    .boxx { width: 1200px;}
}
.b-line {
    content: " ";
    display: table;
    clear: both;
}

.dis-in{ display:inline-block;  }
.dis-bl{ display:block;  }
.dis-none{ display:none;  }
.float-r{ float:right; }
.float-l{ float:left; }

/*
 * Lists
 */


/*
____________________________________________________________________________________________________________________________________________
|                                                                                                                                           |
|                                                               TEXT AND FX                                                                 |
|___________________________________________________________________________________________________________________________________________|
*/

.ellip{
    text-overflow: ellipsis;
    white-space: nowrap;
}

#powerProgress{
    displaY:block;
    float:left;
    position:absolute;
    left:0px;
    bottom:-4px;
    height:4px;
    width:0;
    background:#006ba2;
    z-index:20;
    transition:width 1s;
}

.bg-text-c *,.bg-text-c {text-align:center; }

.bg-reset{ padding:0px;  margin:0px;  }
.bg-reset-m{margin:0px;  }
.bg-reset-p{ padding:0px;}

/*
 *  VERTICAL PADDING
 */
.-bg-pad-ver-5  { padding:5px 0;  }
.-bg-pad-ver-10 { padding:10px 0; }
.-bg-pad-ver-15 { padding:15px 0; }
.-bg-pad-ver-20 { padding:20px 0; }
.-bg-pad-ver-25 { padding:25px 0; }

/*
 *  HORIZONTAL PADDING
 */

.-bg-pad-hor-5  { padding:0 5px;  }
.-bg-pad-hor-10 { padding:0 10px; }
.-bg-pad-hor-15 { padding:0 15px; }
.-bg-pad-hor-20 { padding:0 20px; }
.-bg-pad-hor-25 { padding:0 25px; }

/*
 *  VERTICAL MARGIN
 */
.-bg-mar-ver-5  { margin:5px 0;  }
.-bg-mar-ver-10 { margin:10px 0; }
.-bg-mar-ver-15 { margin:15px 0; }
.-bg-mar-ver-20 { margin:20px 0; }
.-bg-mar-ver-25 { margin:25px 0; }

/*
 *  HORIZONTAL MARGIN
 */
.-bg-mar-hor-5  { margin:0 5px;  }
.-bg-mar-hor-10 { margin:0 10px; }
.-bg-mar-hor-15 { margin:0 15px; }
.-bg-mar-hor-20 { margin:0 20px; }
.-bg-mar-hor-25 { margin:0 25px; }

.-bg-m-b-10{ margin-bottom:10px;}
.-bg-m-b-20{ margin-bottom:20px;}
.-bg-m-b-30{ margin-bottom:30px;}


.grayBG{background:#eef0ef;}
.whiteBG{background:#fff;}